
<div class="container-fluid bg-main py-5 " [attr.dir]="language === 'ar' ? 'rtl' : 'ltr'">

    <h2 class="text-center text-main fw-bold mb-3 mt-5 pt-5">{{ 'TEAM.NAME' | translate }}</h2>
    <div class="container py-3 mt-5 w-75">
       
            <!-- board directors Section -->
            
            <div class="row">
                <!-- Column 1 -->
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                        <img src="./assets/Images/ahmed.jpg" alt="Amal" class="w-50 hover-scale">
                      </div>
                    <!-- Content -->
                    <div class="text-center">
                      <h2 class="mt-2">{{ 'TEAM.MEMBER1.NAME' | translate }}</h2>
                      <h3 class="mt-2 text-secondary lead fw-bold">{{ 'TEAM.MEMBER1.TITLE' | translate }}</h3>
                    </div>
                  </div>
                </div>
                
                <!-- Column 2 -->
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                        <img src="./assets/Images/hanan.jpg" alt="Amal" class="w-50 hover-scale">
                      </div>
                    <!-- Content -->
                    <div class="text-center">
                        <h2 class="mt-2">{{ 'TEAM.MEMBER2.NAME' | translate }}</h2>
                        <h3 class="mt-2 text-secondary lead fw-bold">{{ 'TEAM.MEMBER2.TITLE' | translate }}</h3>
  
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4 col-12 d-flex align-content-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center justify-content-center ">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                      <img src="./assets/Images/ali.jpg" alt="Amal" class="w-50 hover-scale">
                    </div>
                    <!-- Content -->
                    <div class="text-center">
                        <h2 class="mt-2">{{ 'TEAM.MEMBER3.NAME' | translate }}</h2>
                        <h3 class="mt-2 text-secondary lead fw-bold">{{ 'TEAM.MEMBER3.TITLE' | translate }}</h3>
         </div>
                  </div>
                </div>
              </div>
              
            
              <div class="row justify-content-center align-content-center align-items-baseline">
                <!-- Column 1 -->
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                        <img src="./assets/Images/ghada1.jpg" alt="Amal" class="w-50 hover-scale">
                      </div>
                    <!-- Content -->
                    <div class="text-center">
                      <h2 class="mt-2">{{ 'TEAM.MEMBER4.NAME' | translate }}</h2>
                      <h3 class="mt-2 text-secondary lead fw-bold">{{ 'TEAM.MEMBER4.TITLE' | translate }}</h3>
                    </div>
                  </div>
                </div>
                
                <!-- Column 2 -->
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                        <img src="./assets/Images/mohamed.jpg" alt="Amal" class="w-50 hover-scale">
                      </div>
                    <!-- Content -->
                    <div class="text-center">
                        <h2 class="mt-2">{{ 'TEAM.MEMBER5.NAME' | translate }}</h2>
                        <h3 class="mt-2 text-secondary lead fw-bold">{{ 'TEAM.MEMBER5.TITLE' | translate }}</h3>
  
                    </div>
                  </div>
                </div>
                
             
              </div>
         
    
        
    </div>
    </div>
    