
  <div class="container py-3 mt-5 " [attr.dir]="language === 'ar' ? 'rtl' : 'ltr'">
    
          <!-- Goals Section -->
          <h3 class="text-center text-main fw-bold mb-3 h2">{{ 'GHAYA_GOALS.GOALS' | translate }}</h3>
          <!-- more content -->

          <p class=" text-main lead  mb-3">{{ 'GHAYA_GOALS.MAIN_POINTS.POINT1' | translate }}</p>
          <p class=" text-main lead  mb-3">{{ 'GHAYA_GOALS.MAIN_POINTS.POINT2' | translate }}</p>
          <p class=" text-main lead  mb-3">{{ 'GHAYA_GOALS.MAIN_POINTS.POINT3' | translate }}</p>
          <p class=" text-main lead  mb-3">{{ 'GHAYA_GOALS.MAIN_POINTS.POINT4' | translate }}</p>
          <p class=" text-main lead  mb-3">{{ 'GHAYA_GOALS.MAIN_POINTS.POINT5' | translate }}</p>
          <p class=" text-main lead  mb-3">{{ 'GHAYA_GOALS.MAIN_POINTS.POINT6' | translate }}</p>

        </div>
  
