
<div class="container-fluid bg-main py-5 " [attr.dir]="language === 'ar' ? 'rtl' : 'ltr'">

    <h2 class="text-center text-main fw-bold mb-3 mt-5 pt-5">{{ 'AUTHORS.NAME' | translate }}</h2>
    <div class="container py-3 mt-5 w-75">
       
            <!-- board directors Section -->
            
            <div class="row">
                <!-- Column 1 -->
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                        <img src="./assets/Images/user.png" alt="Amal" class="w-50 hover-scale">
                      </div>
                    <!-- Content -->
                    <div class="text-center">
                      <h2 class="mt-2">{{ 'AUTHORS.AUTHOR1.NAME' | translate }}</h2>
                      <h3 class="mt-2 text-secondary lead fw-bold">{{ 'AUTHORS.AUTHOR1.TITLE' | translate }}</h3>
                    </div>
                  </div>
                </div>
                
                <!-- Column 2 -->
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                        <img src="./assets/Images/user.png" alt="Amal" class="w-50 hover-scale">
                      </div>
                    <!-- Content -->
                    <div class="text-center">
                        <h2 class="mt-2">{{ 'AUTHORS.AUTHOR2.NAME' | translate }}</h2>
                        <h3 class="mt-2 text-secondary lead fw-bold">{{ 'AUTHORS.AUTHOR2.TITLE' | translate }}</h3>
  
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4 col-12 d-flex align-content-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center justify-content-center ">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                      <img src="./assets/Images/user.png" alt="Amal" class="w-50 hover-scale">
                    </div>
                    <!-- Content -->
                    <div class="text-center">
                        <h2 class="mt-2">{{ 'AUTHORS.AUTHOR3.NAME' | translate }}</h2>
                        <h3 class="mt-2 text-secondary lead fw-bold">{{ 'AUTHORS.AUTHOR3.TITLE' | translate }}</h3>
         </div>
                  </div>
                </div>
              </div>
              
            
              <div class="row justify-content-center align-content-center align-items-baseline">
                <!-- Column 1 -->
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                        <img src="./assets/Images/user.png" alt="Amal" class="w-50 hover-scale">
                      </div>
                    <!-- Content -->
                    <div class="text-center">
                      <h2 class="mt-2">{{ 'AUTHORS.AUTHOR4.NAME' | translate }}</h2>
                      <h3 class="mt-2 text-secondary lead fw-bold">{{ 'AUTHORS.AUTHOR4.TITLE' | translate }}</h3>
                    </div>
                  </div>
                </div>
                
                <!-- Column 2 -->
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                        <img src="./assets/Images/user.png" alt="Amal" class="w-50 hover-scale">
                      </div>
                    <!-- Content -->
                    <div class="text-center">
                        <h2 class="mt-2">{{ 'AUTHORS.AUTHOR5.NAME' | translate }}</h2>
                        <h3 class="mt-2 text-secondary lead fw-bold">{{ 'AUTHORS.AUTHOR5.TITLE' | translate }}</h3>
  
                    </div>
                  </div>
                </div>
                
                   <!-- Column 2 -->
                   <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                    <div class="d-flex flex-column align-items-center">
                      <!-- Image -->
                      <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                          <img src="./assets/Images/user.png" alt="Amal" class="w-50 hover-scale">
                        </div>
                      <!-- Content -->
                      <div class="text-center">
                          <h2 class="mt-2">{{ 'AUTHORS.AUTHOR6.NAME' | translate }}</h2>
                          <h3 class="mt-2 text-secondary lead fw-bold">{{ 'AUTHORS.AUTHOR6.TITLE' | translate }}</h3>
    
                      </div>
                    </div>
                  </div>
             
              </div>
         
              <div class="row justify-content-center align-content-center align-items-baseline">
                <!-- Column 1 -->
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                        <img src="./assets/Images/user.png" alt="Amal" class="w-50 hover-scale">
                      </div>
                    <!-- Content -->
                    <div class="text-center">
                      <h2 class="mt-2">{{ 'AUTHORS.AUTHOR7.NAME' | translate }}</h2>
                      <h3 class="mt-2 text-secondary lead fw-bold">{{ 'AUTHORS.AUTHOR7.TITLE' | translate }}</h3>
                    </div>
                  </div>
                </div>
                
                <!-- Column 2 -->
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                  <div class="d-flex flex-column align-items-center">
                    <!-- Image -->
                    <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                        <img src="./assets/Images/user.png" alt="Amal" class="w-50 hover-scale">
                      </div>
                    <!-- Content -->
                    <div class="text-center">
                        <h2 class="mt-2">{{ 'AUTHORS.AUTHOR8.NAME' | translate }}</h2>
                        <h3 class="mt-2 text-secondary lead fw-bold">{{ 'AUTHORS.AUTHOR8.TITLE' | translate }}</h3>
  
                    </div>
                  </div>
                </div>
                
                   <!-- Column 2 -->
                   <div class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-4">
                    <div class="d-flex flex-column align-items-center">
                      <!-- Image -->
                      <div class="circle-image-container mb-3 d-flex justify-content-center align-items-center">
                          <img src="./assets/Images/user.png" alt="Amal" class="w-50 hover-scale">
                        </div>
                      <!-- Content -->
                      <div class="text-center">
                          <h2 class="mt-2">{{ 'AUTHORS.AUTHOR9.NAME' | translate }}</h2>
                          <h3 class="mt-2 text-secondary lead fw-bold">{{ 'AUTHORS.AUTHOR9.TITLE' | translate }}</h3>
    
                      </div>
                    </div>
                  </div>
             
              </div>
        
    </div>
    </div>
    