<section class="header-section " id="first-section">
    <div class="background-container d-flex align-items-center justify-content-center pb-3"[attr.dir]="language === 'ar' ? 'rtl' : 'ltr'" id="background">
      <div class="overlay d-flex flex-column align-items-center justify-content-center {{ language === 'en' ? 'english' : 'arabic' }}">
      
       
        <h2 class="text-center text-main fw-bold mb-3">{{ 'GHAYA_PROJECTS.PROJECT2.NAME' | translate }}</h2>

        
      </div>
  </div>
  </section> 
<div class="container-fluid bg-main py-5 " [attr.dir]="language === 'ar' ? 'rtl' : 'ltr'">

<div class="container py-3 mt-2">
  <div class="container mx-auto">
  <div class="video-wrapper">
    <iframe id="videoIframe" 
            src="https://www.youtube.com/embed/K4TOrB7at0Y?autoplay=1" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
  </div>
</div>
    <div id="ContentCreation" class="container mx-auto mt-3">
        <!-- AWARDS BRIEF Section -->
        <!-- more content -->
        <p class=" text-main lead  mb-3">{{ 'GHAYA_PROJECTS.PROJECT2.DETAILS.POINT1' | translate }}</p>
        <p class=" text-main lead  mb-3">{{ 'GHAYA_PROJECTS.PROJECT2.DETAILS.POINT2' | translate }}</p>
        <p class=" text-main lead  mb-3">{{ 'GHAYA_PROJECTS.PROJECT2.DETAILS.POINT3' | translate }}</p>
        <ul class="custom-list">
          <li class=" text-main lead  mb-3">{{ 'GHAYA_PROJECTS.PROJECT2.DETAILS.POINT4' | translate }}</li>
          <li class=" text-main lead  mb-3">{{ 'GHAYA_PROJECTS.PROJECT2.DETAILS.POINT5' | translate }}</li>
          <li class=" text-main lead  mb-3">{{ 'GHAYA_PROJECTS.PROJECT2.DETAILS.POINT6' | translate }}</li>
          <li class=" text-main lead  mb-3">{{ 'GHAYA_PROJECTS.PROJECT2.DETAILS.POINT7' | translate }}</li>
          <li class=" text-main lead  mb-3">{{ 'GHAYA_PROJECTS.PROJECT2.DETAILS.POINT8' | translate }}</li>
        </ul>
        
        <div class="row justify-content-center align-items-center">

          <a class=" text-center cursor-pointer h4"(click)="goToGmail()"><i class="fa-solid fa-envelope text-main fa-bounce  ms-2 me-2" ></i>production&#64;ghayaeg.com</a>
         </div>
      </div>
</div>
</div>