
/* Default theme variables */
:root {
    --shadow: rgb(94, 167, 26) 0px 25px 50px -12px;
    --font-family: 'Tajawal', sans-serif;
    --background-color: #000000; /* Default background color */
    --text-color: #ffffff; /* Default text color */
    --main-color: #BA9945;
    --hover-color: #E62E2D;
    --btn-outline-color-light: #000000; /* Color for light mode outline buttons */
    --btn-outline-color-dark: #ffffff; /* Color for dark mode outline buttons */
    --btn-outline-bg-light: #ffffff; /* Background color for light mode outline buttons */
    --btn-outline-bg-dark: #000000; /* Background color for dark mode outline buttons */
    --btn-outline-hover-color-light: #333333; /* Hover color for light mode buttons */
    --btn-outline-hover-color-dark: #cccccc; /* Hover color for dark mode buttons */
    
    --background-color-dark: #000000; /* Default dark mode background color */
    --text-color-dark: #ffffff; /* Default dark mode text color */
    --button-border-dark: #ffffff; /* Default dark mode button border color */
    --button-bg-dark: #000000; /* Default dark mode button background color */
    --button-hover-dark: #444444; /* Default dark mode button hover color */

    --background-color-light: #ffffff; /* Light mode background color */
    --text-color-light: #000000; /* Light mode text color */
    --button-border-light: #000000; /* Light mode button border color */
    --button-bg-light: #ffffff; /* Light mode button background color */
    --button-hover-light: #dddddd; /* Light mode button hover color */
}

/* Light mode variables */
[data-theme='light'] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --button-border: var(--button-border-light);
    --button-bg: var(--button-bg-light);
    --button-hover: var(--button-hover-light);
    --main-color: #BA9945;
    --hover-color: #E62E2D;
    --btn-outline-color: var(--btn-outline-color-light);
    --btn-outline-bg: var(--btn-outline-bg-light);
    --btn-outline-hover-color: var(--btn-outline-hover-color-light);
}

/* Dark mode variables */
[data-theme='dark'] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --button-border: var(--button-border-dark);
    --button-bg: var(--button-bg-dark);
    --button-hover: var(--button-hover-dark);
    --main-color: #BA9945;
    --hover-color: #E62E2D;
}

/* Apply global styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Tajawal', sans-serif;
    text-align: left;
}

.btn-outline-custom {
    border-color: var(--button-border);
    color: var(--button-border);
    background-color: var(--button-bg);
}

.btn-outline-custom:hover {
    color: var(--button-hover);
    border-color: var(--button-hover);
}
/* Other global styles */
.cursor-pointer {
    cursor: pointer;
}

a {
    color: var(--text-color) !important;
    text-decoration: none;
    transition: color 0.3s ease;
}

.font-sm {
    font-size: 14px;
}

.text-main {
    color: var(--text-color) !important;
}

.bg-main {
    background-color: var(--background-color) !important;
}

/* RTL styles */
[dir="rtl"] body {
    text-align: right;
}


.social-media {
    margin-left: auto;
}

.rtl .navbar-nav {
    margin-right: auto;
}

.rtl .navbar-nav .nav-item {
    margin-right: 1rem;
}

.rtl .social-media {
    margin-right: auto;
}

.rtl .navbar-toggler {
    margin-left: auto;
}

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
