<section class="header-section " id="first-section">
    <div class="background-container d-flex align-items-center justify-content-center pb-3"[attr.dir]="language === 'ar' ? 'rtl' : 'ltr'" id="background">
      <div class="overlay d-flex flex-column align-items-center justify-content-center {{ language === 'en' ? 'english' : 'arabic' }}">
      
       
        <h2 class="text-center text-main fw-bold mb-3 ">{{ 'MOBILE_APP.NAME' | translate }}</h2>
  
        
      </div>
  </div>
  </section> 
  <div class="container-fluid bg-main py-5 " [attr.dir]="language === 'ar' ? 'rtl' : 'ltr'">
    <div class="container py-3 mt-5 ">
        <div  class="container mx-auto  ">
            <!-- AWARDS BRIEF Section -->
            <!-- more content -->
            <p class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT1' | translate }}</p>
            <p class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT2' | translate }}</p>
            <p class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT3' | translate }}</p>
          
            <ul class="custom-list">
              <li class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT4' | translate }}</li>
              <li class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT5' | translate }}</li>
              <li class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT6' | translate }}</li>
              <li class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT7' | translate }}</li>
              <li class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT8' | translate }}</li>
              <li class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT9' | translate }}</li>
              <li class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT10' | translate }}</li>
              <li class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT11' | translate }}</li>
              <li class=" text-main lead  mb-3">{{ 'MOBILE_APP.DETAILS.POINT12' | translate }}</li>
  
            </ul>
         
            
          </div>
    </div>
</div>
   
  
